@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bokor&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  background-color: #1c1c1c;
  font-family: "Barlow Condensed", sans-serif;
}

/***************************************************************** NAVBARR ***********************************************************/
/***************************************************************** NAVBARR ***********************************************************/
/***************************************************************** NAVBARR ***********************************************************/

.navbar {
  background-color: #ffffffc8 !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-link {
  font-size: 23px;
  font-weight: 500;
  color: black;
}
.nav-link:hover {
  color: rgb(0, 0, 0);
  text-decoration: underline #f70776 2px;
}

.icnsmenu {
  padding: 10px;
  color: #000000;
  font-size: 20px;
}

.icnsmenu:hover {
  color: #f70777;
  font-size: 20px;
}

.dropdown-item:hover {
  color: #ffffff;
  background-color: #f70777;
}

.connexionbtn {
  background-color: #f70776;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  white-space: nowrap;
  text-align: center;
}

.connexionbtn:hover {
  background-color: #ffffff;
  color: #f70776;
  transition: 0.5s;
}
/***************************************************************** NAVBARR ***********************************************************/
/***************************************************************** NAVBARR ***********************************************************/
/***************************************************************** NAVBARR ***********************************************************/
h1 {
  text-align: center;
  color: #ffffffc8;
  padding: 50px;
  font-size: 50px;
}

/************************************************************ Section des filtres ****************************************************/

.filter-section {
  background-color: #ffffffc8;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 80px;
  margin-top: -50px;
}

.filter-section select,
.filter-section input {
  background-color: #ffffffc8;
  color: #333333;
  border: 1px solid #f70776;
  font-size: 18px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.filter-section select:focus,
.filter-section input:focus {
  border-color: #0099ff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.filter-section select:hover,
.filter-section input:hover {
  color: white;
  background-color: #f70776;
}

.form-select {
  background-color: white;
}

.form-select option {
  background-color: #ffffff;
  color: #333333;
}

#searchbar .btn {
  background-color: #ffffffc8;
  color: #f70776;
  border: 1px solid #f70776;
}

#searchbar .btn:hover {
  background-color: #f70776;
  color: #ffffff;
  border-color: #f70776;
}

#searchbar .btn i {
  font-size: 20px;
}

#searchbar input {
  background-color: white;
  color: #333333;
  border: 1px solid #f70776;
}

#searchbar input:focus {
  border-color: #0099ff;
  color: #333333 !important;
}

.product-card {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #f70776;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 350px;
  height: 100%;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.product-card img {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #f70776;
  max-height: 300px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.product-card-title {
  color: #f70776;
  margin-top: 15px;
  font-size: 25px;
  font-weight: bold;
  height: 2.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  flex-grow: 1;
  text-align: left;
}

.product-price {
  font-size: 21px;
  font-weight: 700;
  color: #0099ff;
  margin-top: 5px;
  margin: 0.5rem 0;
}

.category-label {
  font-size: 18px;
  color: #333333;
  padding: -20px;
  margin-top: -5px !important;
}

.product-condition {
  font-size: 18px;
  color: #555;
  padding-bottom: 15px;
}

.condition-label {
  font-weight: bold;
  color: #27ae60;
  margin: 0.5rem 0;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.btn-favorite {
  background: none;
  border: none;
  color: #f7077771;
  font-size: 20px;
  margin-left: 10px;
  transition: color 0.3s ease, transform 0.3s ease;
  padding-bottom: 20px;
}

.btn-favorite:hover {
  color: #c7005b;
  transform: scale(1.2);
}

.btn-cta {
  background: linear-gradient(135deg, #f70776, #9b4dff);
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 10px;
  border: 2px solid transparent;
  border-radius: 20px;
  text-transform: uppercase;
  transition: background 0.3s ease, border-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: auto;
}

.btn-cta:hover {
  background: linear-gradient(135deg, #9b4dff, #f70776);
  border-color: #f70776;
  transform: translateY(-5px) scale(1.1) rotate(2deg);
  box-shadow: 0 6px 12px rgba(155, 77, 255, 0.3);
}

.btn-cta:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 77, 166, 0.5);
}

@media (max-width: 768px) {
  .product-card {
    min-height: 300px;
  }
  .product-card-title {
    font-size: 1.4rem;
    height: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .product-card {
    min-height: 350px;
  }

  .product-card-title {
    font-size: 1.6rem;
    height: 2.5rem;
  }
}

.parallaxv {
  background: url("../img/index/parallaxv.jpg") no-repeat;
  height: 50px;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}
/************************************************************** FOOTERRRR ********************************************************************/

.footer-link {
  color: #ddd;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #f70776;
  animation: animate__fadeIn;
}

.footer-icon {
  display: inline-block;
  color: #ddd;
  font-size: 1.5rem;
  margin-right: 10px;
  transition: color 0.3s ease;
}

.footer-icon:hover {
  color: #f70776;
  animation: animate__pulse;
}

.mailtel a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s;
}

.mailtel a:hover {
  text-decoration: underline;
  text-decoration-color: #f70776;
}

.footerh5 {
  color: #f70776;
  font-weight: 600;
}

/************************************************************** FINFOOTERRRR ********************************************************************/
