@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bokor&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #1c1c1c;
  font-family: "Barlow Condensed", sans-serif;
}

/***************************************************************** NAVBARR ***********************************************************/
/***************************************************************** NAVBARR ***********************************************************/
/***************************************************************** NAVBARR ***********************************************************/

.navbar {
  background-color: #ffffffc8 !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-link {
  font-size: 23px;
  font-weight: 500;
  color: black;
}
.nav-link:hover {
  color: rgb(0, 0, 0);
  text-decoration: underline #f70776 2px;
}

.icnsmenu {
  padding: 10px;
  color: #000000;
  font-size: 20px;
}

.icnsmenu:hover {
  color: #f70777;
  font-size: 20px;
}

.dropdown-item:hover {
  color: #ffffff;
  background-color: #f70777;
}

.connexionbtn {
  background-color: #f70776;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  white-space: nowrap;
  text-align: center;
}

.connexionbtn:hover {
  background-color: #ffffff;
  color: #f70776;
  transition: 0.5s;
}
/***************************************************************** NAVBARR ***********************************************************/
/***************************************************************** NAVBARR ***********************************************************/
/***************************************************************** NAVBARR ***********************************************************/

.parallaxv {
  background: url("../img/index/parallaxv.jpg") no-repeat;
  height: 50px;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}

/************************************************************** FOOTERRRR ********************************************************************/

.footer-link {
  color: #ddd;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #f70776;
  animation: animate__fadeIn; /* Animation au survol */
}

.footer-icon {
  display: inline-block;
  color: #ddd;
  font-size: 1.5rem;
  margin-right: 10px;
  transition: color 0.3s ease;
}

.footer-icon:hover {
  color: #f70776;
  animation: animate__pulse; /* Durée de l'animation */
}

.mailtel a {
  text-decoration: none;
  color: #ffffff; /* Couleur par défaut */
  transition: color 0.3s; /* Animation au survol */
}

.mailtel a:hover {
  text-decoration: underline;
  text-decoration-color: #f70776;
}

.footerh5 {
  color: #f70776;
  font-weight: 600;
}

/************************************************************** FINFOOTERRRR ********************************************************************/

.pfp {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.card {
  border-radius: 8px;
}

.card-header {
  font-size: 1.2rem;
  font-weight: bold;
}

.rounded-circle:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.card:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease-in-out;
}
